.bgImg {
  background-image: url("./assets/cover-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.cardBG {
  background-color: rgba(47, 47, 74, 0.4);
  color: rgb(183, 190, 195);
}
.cardHeaderBG {
  background-color: rgba(25, 54, 84, 1);
  color: rgb(183, 190, 195);
}
.rowBG2 {
  background-color: rgba(47, 47, 74, 0.4);
}

input[type="text"],
input[type="number"],
input[type="datetime-local"] {
  background-color: rgba(47, 47, 74, 0.4);
  color: rgb(183, 190, 195);
}
